<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    <h1> <%= title %> </h1>
    <h1> contact list </h1>
    
    <% for (i of list){  %>
    <ul>
        <li>
            <a href="/delete/<%= i.id %>"></a>
            <p>X</p>
            <%= i.name %> 
            <%= i.phone %>
        </li>
    </ul>
    <% } %>

    <form action="/create" method="post">
        <input type="text" name="name" placeholder="enter the name" />
        <input type="number" name="phone" placeholder="enter the number" />
        <button type="'submit">Add Contact</button>
    </form>
</body>
</html>